.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}
.tabs.vertical-tabs .tabs-list {
  display: block !important;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid #dadada;
  border-radius: 0;
  padding: 0.5em;
  background-color: var(--light-color);
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}


.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: #ddd !important;
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs.vertical-tabs button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  line-height: 0.25 !important;
}

/* Style the tab */
.tabs.vertical-tabs {
  float: left !important;
  width: 100% !important;
  border: 1px solid #24a8e0;
}

/* Style the tab */
.tabs.vertical-tabs .tabs-list {
  float: left;
  border: 1px solid #ccc;
  width: 30%;
}

/* Style the buttons inside the tab */
.tabs.vertical-tabs .tabs-list button {
  display: block;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 2px solid #898989;
  background-color: #a8a8a8;
}
.tabs.vertical-tabs .tabs-list button p{
  text-transform: uppercase;
}
.tabs.vertical-tabs .tabs-panel p{
  color: #23a8e0;
  font-size: 30px;
}

/* Change background color of buttons on hover */
.tabs.vertical-tabs .tabs-list button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabs.vertical-tabs .tabs-list button.active {
  background-color: #ccc;
}

.tabs.vertical-tabs .tabs-panel {
  margin: auto;
  width: auto;
  padding: 100px;
  text-align: center;
}

.tabs.vertical-tabs .tabs-list{
  background-color: #f1f1f1;

}